/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
/* common formatting styles */

.highlight {
	text-transform: uppercase;
	color: #B3060C;
}

.button,
.button:hover {
	border: 0px;
}

*:focus {
	outline: none;
}

.button .btnLabel {
	display: none;
}

.modalWindow {
	display: none;
	background: rgba(0,0,0,0.8);
	position: absolute;
	width: 86%;
	margin: 10px 5%;
	padding: 10px 2%;
	min-height: 95%;
	border-radius: 10px;
	box-shadow: 1px 0px 10px #666;
	color: #eee;
	font-size: 0.9em;
}

.modalWindow a:link,
.modalWindow a:visited {
	color: #eee;
}

.modalWindow .close {
	display: block;
	background: #eee;
	color: #333;
	width: auto;
	float: right;
	clear: both;
	border-radius: 5px;
	padding: 3px 5px;
	cursor: pointer;
}

.fangate {
	background: url(../images/fangate.jpg) 0px 0px no-repeat;
	width: 810px;
	height: 840px;
}

/* structure styles */

body {
	background: #000;
}

.container {
	background: #fff;
	font-family: "Georgia", "Times New Roman", serif;
	color: #000;
	padding-top: 60px;
}

.heading {
	display: none !important;
}

.page-home .heading {
	display: block !important;
}

.headerImg {
	margin-left: -20px;
}

h1.header {
	display: none;
}

h2.header {
	font-size: 1.6em;
	margin-left: 10px;
	text-transform: uppercase;
}


.contentWrapper {
}

.content {
	font-size: 1.4em;
	line-height: 1.3em;
}

.footer {
	display: none !important;
}
/* #Page Styles
================================================== */

/* home */
/* ---- */

.page-home .container {
	background: url(../images/background_start.jpg) #fff 0px 0px no-repeat;
	height: 740px;
}

.mehrZumBuch {
	position: absolute;
	top: 170px;
	right: 0;
	width: 100px;
	height: 100px;
	padding: 0;
	border: 0px;
	background: none;
}

.mehrZumBuch:hover {
	background: none;
}

.mehrZumBuch .btnLabel {
	display: none;
}

.startGame {
	width: 450px;
	height: 40px;
	padding: 0;
	margin: 0;
	background: url(../images/button_hierentlang.png) 0px -40px no-repeat;
	margin-left: -60px;
	margin-top: 20px;
}

.startGame:hover {
	background: url(../images/button_hierentlang.png) 0px -100px no-repeat;
}


.startGame .btnLabel {
	display: none;
}

/* book page */
/* --------- */

.page-book .content {
	margin-top: 85px;
}

.page-book .container {
	background: url(../images/background_book01.jpg) 0px 0px no-repeat;
}

.page-book .leftCol {
	width: 34% !important;
}

.page-book .rightCol {
	width: 50% !important;
	margin-left: 2%;
}

.page-book .appNavigator {
	float: right;
	width: 50%;
	margin-right: 100px;
	margin-bottom: 0px;
}

.page-book .leseproben {
	width: 360px;
	height: 30px;
	padding: 0px;
	background: url(../images/button_leseprobe.png) 0px -45px no-repeat;
	margin-bottom: 10px;
}

.page-book .leseproben:hover {
	background: url(../images/button_leseprobe.png) 0px -110px no-repeat;
}

.page-book .kaufen {
	width: 284px;
	height: 30px;
	padding: 0px;
	background: url(../images/button_kaufen.png) 0px -35px no-repeat;
	margin-bottom: 10px;
}

.page-book .kaufen:hover {
	background: url(../images/button_kaufen.png) 0px -91px no-repeat;
}

.page-book .backToHome {
	width: 240px;
	height: 60px;	
	background: url(../images/button_zurueck.png) 0px 0px no-repeat;
	margin-left: -20px;
	margin-top: -10px;
	margin-bottom: 18px;
}

.page-book .backToHome:hover {
	background: url(../images/button_zurueck.png) 0px -56px no-repeat;
}

.bookCover {
	display: none;
	width: 100%;
}

.zumTrailer {
	position: absolute;
	width: 100px !important;
	height: 100px;
	border-radius: 50px;
	background: none;
	left: 30px;
	top: 95px;
	padding: 0px;
}

.zumTrailer:hover {
	background: none;
}

.page-book .bookDetails {
	margin: 400px auto auto 20px;
	font-size: 0.7em;
}

.page-book .zumTrailer .btnLabel {
	display: none;
}

/* quiz */
/* ---- */

.page-quiz .container {background: none;}

.page-quiz .newboxes {width: 70%; height: 600px; padding: 100px 15%;position: absolute;top: 0;left: 0; color: #fff;font-size: 1.4em;line-height: 1.4em;font-weight: bolder;}

.page-quiz #newboxes1 {background: url(../images/background_quiz01.jpg) 0px 0px no-repeat;}
.page-quiz #newboxes2 {background: url(../images/background_quiz02.jpg) 0px 0px no-repeat;}
.page-quiz #newboxes3 {background: url(../images/background_quiz03.jpg) 0px 0px no-repeat;}
.page-quiz #newboxes4 {background: url(../images/background_quiz04.jpg) 0px 0px no-repeat;}
.page-quiz #newboxes5 {background: url(../images/background_quiz05.jpg) 0px 0px no-repeat;}

.quiz{
}

.page-quiz .newboxes {
}

.page-quiz .newboxes .frage {
}

.page-quiz .newboxes .frage .intro {
}

.page-quiz .newboxes .frage .question {
}

.page-quiz .newboxes .antwort {
margin-bottom: 20px;
float: left;
}

.page-quiz .newboxes .antwort label {
cursor: pointer;
}

.page-quiz .newboxes .radioArrow {
display: none;
}

.page-quiz .newboxes .arrowTool {
background: url(../images/button_quiz.png) -13px -96px no-repeat;
display: block;
width: 45px;
height: 45px;
float: left;
clear: left;
margin-top: 5px;
margin-right: 20px;
}

.page-quiz .newboxes .antwort .radioArrow:checked + label .arrowTool {
background: url(../images/button_quiz.png) -13px -14px no-repeat;
}

.page-quiz .newboxes .antwort-text {
width: 80%;
float: left;
margin-left: 10px;
font-size: 1.4em;
line-height: 1.4em;
font-weight: bolder;
color: #fff;
}

.page-quiz .newboxes .submitAnswer {
clear: both;
float:  left;
width: 224px;
height: 45px;
padding: 0px;
background: url(../images/button_weiter.png) 0px 0px no-repeat;
margin: 10px auto auto 45px;
}

.quizResult {
float: left;
margin-top: 60px;
}

/* win page */
/* -------- */

.page-win .container {
	background: url(../images/background_final.jpg) 0px 0px no-repeat;
}

.page-win .contentWrapper {
	margin-top: 10px;
	height: 730px;
}

.page-win .headerImg {
	width: auto;
	margin-left: 0;
}

.page-win .header {
	display: block;
}

.page-win .profileDetails {
	font-size: 1.35em !important;
	margin-left: 20px;
}

.page-win .profileDetails dt {
	font-weight: bolder;
	float: left;
	width: 30%;
}

.page-win .profileDetails dd {
	width: 60%;
	float: left;
	margin-bottom: 20px;
}

.page-win .openContactForm {
	display: block;
}

.page-win .openMobileContact {
	display: none;
}

.page-win .appNavigator {
	width: 80%;
	margin-left: 60px;
	margin-top: 87px;
	float: left;
}

.page-win .zumBuch {
	width: 300px;
	height: 30px;
	background: url(../images/button_zumbuch.png) -14px -20px no-repeat;
}

.page-win .zumBuch:hover {
	background: url(../images/button_zumbuch.png) -14px -86px no-repeat;
}

.page-win .gewinnSpiel {
	width: 370px;
	height: 35px;
	background: url(../images/button_gewinnspiel.png) -27px -35px no-repeat;
}

.page-win .gewinnSpiel:hover {
	background: url(../images/button_gewinnspiel.png) -27px -103px no-repeat;
}

/* mailform page */
/* ------------- */

.page-mailFormPage .error {
	background: rgba(0,0,0,0.5);
	color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #666;
	position: absolute;
	width: 51%;
	padding: 10px 2%;
	left: 13%;
	top: 40px;
}

.page-mailFormPage .container {
	background: url(../images/background_final.jpg) 0px 0px no-repeat;
	height: 740px;
}

.page-mailFormPage .registerForm {
	font-size: 1.4em;
	margin-top: 100px;
}

.page-mailFormPage .registerForm .textBlock  {
	width: 80%;	
}

.page-mailFormPage .registerForm input  {
	width: 100%;
}

.page-mailFormPage .registerForm #regFormSubmit {
	width: 35%;
	float: right;
	margin-top: -20px;
	font-size: 1em;
	background: #B3060C !important;
	color: #fff;
	text-shadow: none;
	padding: 10px 0px !important;
	border-radius: 5px;
	border: none;
}

.page-mailFormPage .registerForm .backToHome {
	width: 240px;
	height: 60px;
	background: url(../images/button_zurueck.png) 0px 0px no-repeat;
	margin-top: -30px;
}


.page-mailFormPage .registerForm .backToHome:hover {
	background: url(../images/button_zurueck.png) 0px -56px no-repeat;	
}

/* #Media Queries
================================================== */
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}


	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		.container {
			background-position: -40px 0px !important;
		}

		.mehrZumBuch {
			top: 170px;	
		}
	}

	/* #Facebook tab optimization */

	    @media only screen and (min-width: 809px) and (max-width: 811px) {
			.container { 
			    background-position: 0px 0px !important;
			}
	    }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.header {
			display: block !important;
		}

		.headerImg {
			display: none;
		}

	.button {
		position: relative;
		background: #ddd !important;
		width: 100% !important;
		padding: 0px;
		height: auto !important;
		text-align: center;		
		top: 0;
		left: 0;
		font-family: "Georgia", "Times New Roman", serif;
		border-radius: 0px;
	}
									
	.button .btnLabel {
		display: block !important;
	}
	
	.page-win .profileDetails dt {width: 100%;}
	.page-win .profileDetails dd {width: 90%; margin: 10px 0px 10px 10%;}

	}

	/* mobile landscape size to tablet portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

		.contentWrapper {
			width: 340px !important;
			margin: 0px 40px !important;
			font-size: 0.9em !important;
		}

		.button {
			font-size: 1em;
			margin: 10px 0px !important;
			background: #B3060C !important;
			color: #fff;
			text-shadow: none;
			padding: 10px 0px !important;
			border-radius: 5px;
		}

		.button:hover {
			color: #fff;
			text-decoration: underline;
		}

		.heading {text-align: center;}

		.heading .schwarz {
			text-transform: uppercase;
			color: #000;
			width: 100%;
			float: left;
			clear: both;
		}
		.heading .oder {color: #B3060C;}
		.heading .weiss {text-transform: uppercase; color: #fff}
	
		.container,
		.page-quiz .newboxes {
			background: #9b9a98 !important; /* Old browsers */
			background: -moz-linear-gradient(top,  #9b9a98 0%, #c1bfc0 100%) !important; /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b9a98), color-stop(100%,#c1bfc0)) !important; /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #9b9a98 0%,#c1bfc0 100%) !important; /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #9b9a98 0%,#c1bfc0 100%) !important; /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #9b9a98 0%,#c1bfc0 100%) !important; /* IE10+ */
			background: linear-gradient(to bottom,  #9b9a98 0%,#c1bfc0 100%) !important; /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9a98', endColorstr='#c1bfc0',GradientType=0 ) !important; /* IE6-9 */
			height: auto;
			color: #000;
			padding-top: 20px;
			font-weight: normal;
		}

		.page-quiz .newboxes .antwort-text {
			color: #000;
			font-weight: normal;
			width: 68%;
		} 

		.page-quiz .newboxes .arrowTool {
			margin-right: 0px;
			width: 80px;
			height: 80px;
		}
		
		.page-quiz .newboxes .frage .question {
			color: #B3060C;
			text-transform: uppercase;
			font-weight: normal;
		}
		
		.page-quiz .newboxes .antwort:nth-child(2) .arrowTool {
			background: url(../images/button_mobile01.jpg) 0px 0px no-repeat;
		}

		.page-quiz .newboxes .antwort:nth-child(3) .arrowTool {
			background: url(../images/button_mobile02.jpg) 0px 0px no-repeat;
		}

		.page-quiz .newboxes .antwort:nth-child(4) .arrowTool {
			background: url(../images/button_mobile03.jpg) 0px 0px no-repeat;
		}


		.page-quiz .newboxes .antwort:nth-child(2) .radioArrow:checked + label .arrowTool {
			background: url(../images/button_mobile01.jpg) 0px -79px no-repeat;
		}

		.page-quiz .newboxes .antwort:nth-child(3) .radioArrow:checked + label .arrowTool {
			background: url(../images/button_mobile02.jpg) 0px -79px no-repeat;
		}

		.page-quiz .newboxes .antwort:nth-child(4) .radioArrow:checked + label .arrowTool {
			background: url(../images/button_mobile03.jpg) 0px -79px no-repeat;
		}

		.page-win .openContactForm {
			display: none;
		}

		.page-win .openMobileContact {
			display: block;
		}

		.page-win .resultProfile .header {
			color: #B3060C;
		}

		.page-win .appNavigator {
			width: 100%;
			margin: 0px;
		}

		.page-win .button {
			font-size: 1.4em;
		}

		.page-book .content {
			margin-top: 20px;
		}

		.page-book .bookCover {
			display: block;
		}
		
		.page-book .leftCol,
		.page-book .rightCol {
			width: 80% !important;
			margin: 0px 10%;
		}

		.page-book .bookDetails {
			margin: 10px 0px;
		}

		.page-book .appNavigator {
			width: 80%;
			margin: 0px 10% !important;
		}

		.page-book .button {
			color: #fff;
		}

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		.contentWrapper {
			font-size: 0.9em !important;
		}

		.button {
			font-size: 1em;
			margin: 10px 0px !important;
			background: #B3060C !important;
			color: #fff;
			text-shadow: none;
			padding: 10px 0px !important;
			border-radius: 5px;
		}

		.button:hover {
			color: #fff;
			text-decoration: underline;
		}

		.heading {text-align: center;}

		.heading .schwarz {
			text-transform: uppercase;
			color: #000;
			width: 100%;
			float: left;
			clear: both;
		}
		.heading .oder {color: #B3060C;}
		.heading .weiss {text-transform: uppercase; color: #fff}

		.page-win .openContactForm {
			display: none;
		}

		.container,
		.page-quiz .newboxes {
			min-height: 650px; 
			height: auto !important;
			padding: 30px 20px;
			background: #9b9a98 !important; /* Old browsers */
			background: -moz-linear-gradient(top,  #9b9a98 0%, #c1bfc0 100%) !important; /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b9a98), color-stop(100%,#c1bfc0)) !important; /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #9b9a98 0%,#c1bfc0 100%) !important; /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #9b9a98 0%,#c1bfc0 100%) !important; /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #9b9a98 0%,#c1bfc0 100%) !important; /* IE10+ */
			background: linear-gradient(to bottom,  #9b9a98 0%,#c1bfc0 100%) !important; /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9a98', endColorstr='#c1bfc0',GradientType=0 ) !important; /* IE6-9 */
			height: auto;
			color: #000;
			font-weight: normal;
			font-size: 1.1em;
			width: 300px;
		}

		.page-quiz .newboxes .frage .question {
			color: #B3060C;
			text-transform: uppercase;
			font-weight: normal;
		}

		.page-quiz .newboxes .antwort-text {
			color: #000;
			font-weight: normal;
			width: 70%;
			font-size: 1.1em;
		} 

		.page-quiz .newboxes .arrowTool {
			margin-right: 0px;
			width: 45px;
			height: 45px;
		}

		.page-quiz .newboxes .antwort:nth-child(2) .arrowTool {
			background: url(../images/button_mobile01_small.jpg) 0px 0px no-repeat;
		}

		.page-quiz .newboxes .antwort:nth-child(3) .arrowTool {
			background: url(../images/button_mobile02_small.jpg) 0px 0px no-repeat;
		}

		.page-quiz .newboxes .antwort:nth-child(4) .arrowTool {
			background: url(../images/button_mobile03_small.jpg) 0px 0px no-repeat;
		}


		.page-quiz .newboxes .antwort:nth-child(2) .radioArrow:checked + label .arrowTool {
			background: url(../images/button_mobile01_small.jpg) 0px -45px no-repeat;
		}

		.page-quiz .newboxes .antwort:nth-child(3) .radioArrow:checked + label .arrowTool {
			background: url(../images/button_mobile02_small.jpg) 0px -45px no-repeat;
		}

		.page-quiz .newboxes .antwort:nth-child(4) .radioArrow:checked + label .arrowTool {
			background: url(../images/button_mobile03_small.jpg) 0px -45px no-repeat;
		}

		.page-win .openMobileContact {
			display: block;
		}

		.page-win .contentWrapper {
				margin-top: 0px;
			}

		.page-win .resultProfile .header {
			color: #B3060C;
		}

		.page-win .appNavigator {
			width: 100%;
			margin: 0px;
		}

		.page-book .content {
			margin-top: 10px;
			font-size: 1.25em !important;
		}

		.page-book .bookCover {
			display: block;
		}
		
		.page-book .leftCol,
		.page-book .rightCol {
			width: 90% !important;
			margin: 0px 5%;
		}

		.page-book .bookDetails {
			margin: 10px 0px;
		}

		.page-book .appNavigator {
			width: 90%;
			margin: 0px 5% !important;
		}

		.page-book .button {
			color: #fff;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
